# === Python virtual environments ===
env/
venv/
.venv/
.venv311/

# === Python cache & bytecode ===
__pycache__/
*.pyc
*.pyo
*.pyd

# === Notebook junk ===
.ipynb_checkpoints/

# === OS / editor files ===
.DS_Store
.vscode/
.idea/

# === Project-specific large files ===
allfiles
*.csv
*.parquet
*.h5
*.pt
*.pkl
*.joblib
*.zip
*.tar.gz

# Generated plots
q_learning_maze/*.png
